<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="player">
            <h2><span jhiTranslate="flagFootBallv1App.player.detail.title">Player</span> {{ player.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="flagFootBallv1App.player.firstName">First Name</span></dt>
                <dd>
                    <span>{{ player.firstName }}</span>
                </dd>
                <dt><span jhiTranslate="flagFootBallv1App.player.lastName">Last Name</span></dt>
                <dd>
                    <span>{{ player.lastName }}</span>
                </dd>
                <dt><span jhiTranslate="flagFootBallv1App.player.dob">Dob</span></dt>
                <dd>
                    <span>{{ player.dob }}</span>
                </dd>
                <dt><span jhiTranslate="flagFootBallv1App.player.grade">Grade</span></dt>
                <dd>
                    <span>{{ player.grade }}</span>
                </dd>
                <dt><span jhiTranslate="flagFootBallv1App.player.age">Age</span></dt>
                <dd>
                    <span>{{ player.age }}</span>
                </dd>
                <dt><span jhiTranslate="flagFootBallv1App.player.jerseySize">Jersey Size</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'flagFootBallv1App.JerseySize.' + player.jerseySize }}">{{ player.jerseySize }}</span>
                </dd>
                <dt><span jhiTranslate="flagFootBallv1App.player.team">Team</span></dt>
                <dd>
                    <div *ngIf="player.team">
                        <a [routerLink]="['/team', player.team?.id, 'view']">{{ player.team?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="flagFootBallv1App.player.contactInfo">Contact Info</span></dt>
                <dd>
                    <div *ngIf="player.contactInfo">
                        <a [routerLink]="['/contact-info', player.contactInfo?.id, 'view']">{{ player.contactInfo?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="flagFootBallv1App.player.team">Team</span></dt>
                <dd>
                    <div *ngIf="player.team">
                        <a [routerLink]="['/team', player.team?.id, 'view']">{{ player.team?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/player', player.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
