<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="season">
            <h2><span jhiTranslate="flagFootBallv1App.season.detail.title">Season</span> {{ season.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="flagFootBallv1App.season.name">Name</span></dt>
                <dd>
                    <span>{{ season.name }}</span>
                </dd>
                <dt><span jhiTranslate="flagFootBallv1App.season.league">League</span></dt>
                <dd>
                    <div *ngIf="season.league">
                        <a [routerLink]="['/league', season.league?.id, 'view']">{{ season.league?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/season', season.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
