<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-address-heading" jhiTranslate="flagFootBallv1App.address.home.createOrEditLabel">Create or edit a Address</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flagFootBallv1App.address.street1" for="field_street1">Street 1</label>
                    <input type="text" class="form-control" name="street1" id="field_street1"
                           formControlName="street1"/>
                    <div *ngIf="editForm.get('street1')!.invalid && (editForm.get('street1')!.dirty || editForm.get('street1')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('street1')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flagFootBallv1App.address.street2" for="field_street2">Street 2</label>
                    <input type="text" class="form-control" name="street2" id="field_street2"
                           formControlName="street2"/>
                    <div *ngIf="editForm.get('street2')!.invalid && (editForm.get('street2')!.dirty || editForm.get('street2')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('street2')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flagFootBallv1App.address.city" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                           formControlName="city"/>
                    <div *ngIf="editForm.get('city')!.invalid && (editForm.get('city')!.dirty || editForm.get('city')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('city')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flagFootBallv1App.address.state" for="field_state">State</label>
                    <input type="text" class="form-control" name="state" id="field_state"
                           formControlName="state"/>
                    <div *ngIf="editForm.get('state')!.invalid && (editForm.get('state')!.dirty || editForm.get('state')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('state')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flagFootBallv1App.address.contactInfo" for="field_contactInfo">Contact Info</label>
                    <select class="form-control" id="field_contactInfo" name="contactInfo" formControlName="contactInfo">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="contactInfoOption.id === editForm.get('contactInfo')!.value?.id ? editForm.get('contactInfo')!.value : contactInfoOption" *ngFor="let contactInfoOption of contactinfos; trackBy: trackById">{{ contactInfoOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
