<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="league">
            <h2><span jhiTranslate="flagFootBallv1App.league.detail.title">League</span> {{ league.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="flagFootBallv1App.league.name">Name</span></dt>
                <dd>
                    <span>{{ league.name }}</span>
                </dd>
                <dt><span jhiTranslate="flagFootBallv1App.league.id">Id</span></dt>
                <dd>
                    <span *ngFor="let id of league.ids; let last = last">
                        <a [routerLink]="['/team', id?.id, 'view']">{{ id.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="flagFootBallv1App.league.id">Id</span></dt>
                <dd>
                    <span *ngFor="let id of league.ids; let last = last">
                        <a [routerLink]="['/season', id?.id, 'view']">{{ id.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/league', league.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
