<div>
    <h2 id="page-heading">
        <span jhiTranslate="flagFootBallv1App.coach.home.title">Coaches</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-coach" [routerLink]="['/coach/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="flagFootBallv1App.coach.home.createLabel">
            Create a new Coach
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="coaches?.length === 0">
        <span jhiTranslate="flagFootBallv1App.coach.home.notFound">No coaches found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="coaches && coaches.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="flagFootBallv1App.coach.firstName">First Name</span></th>
                    <th scope="col" ><span jhiTranslate="flagFootBallv1App.coach.lastName">Last Name</span></th>
                    <th scope="col" ><span jhiTranslate="flagFootBallv1App.coach.jerseySize">Jersey Size</span></th>
                    <th scope="col" ><span jhiTranslate="flagFootBallv1App.coach.team">Team</span></th>
                    <th scope="col" ><span jhiTranslate="flagFootBallv1App.coach.contactInfo">Contact Info</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let coach of coaches ;trackBy: trackId">
                    <td><a [routerLink]="['/coach', coach.id, 'view']">{{ coach.id }}</a></td>
                    <td>{{ coach.firstName }}</td>
                    <td>{{ coach.lastName }}</td>
                    <td jhiTranslate="{{ 'flagFootBallv1App.JerseySize.' + coach.jerseySize }}">{{ coach.jerseySize }}</td>
                    <td>
                        <div *ngIf="coach.team">
                            <a [routerLink]="['/team', coach.team?.id, 'view']" >{{ coach.team?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="coach.contactInfo">
                            <a [routerLink]="['/contact-info', coach.contactInfo?.id, 'view']" >{{ coach.contactInfo?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/coach', coach.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/coach', coach.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(coach)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
