<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-coach-heading" jhiTranslate="flagFootBallv1App.coach.home.createOrEditLabel">Create or edit a Coach</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flagFootBallv1App.coach.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           formControlName="firstName"/>
                    <div *ngIf="editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('firstName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flagFootBallv1App.coach.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"/>
                    <div *ngIf="editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flagFootBallv1App.coach.jerseySize" for="field_jerseySize">Jersey Size</label>
                    <select class="form-control" name="jerseySize" formControlName="jerseySize" id="field_jerseySize">
                        <option value="YS">{{ 'flagFootBallv1App.JerseySize.YS' | translate }}</option>
                        <option value="YM">{{ 'flagFootBallv1App.JerseySize.YM' | translate }}</option>
                        <option value="YL">{{ 'flagFootBallv1App.JerseySize.YL' | translate }}</option>
                        <option value="S">{{ 'flagFootBallv1App.JerseySize.S' | translate }}</option>
                        <option value="M">{{ 'flagFootBallv1App.JerseySize.M' | translate }}</option>
                        <option value="L">{{ 'flagFootBallv1App.JerseySize.L' | translate }}</option>
                        <option value="XL">{{ 'flagFootBallv1App.JerseySize.XL' | translate }}</option>
                        <option value="XXL">{{ 'flagFootBallv1App.JerseySize.XXL' | translate }}</option>
                        <option value="XXXL">{{ 'flagFootBallv1App.JerseySize.XXXL' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('jerseySize')!.invalid && (editForm.get('jerseySize')!.dirty || editForm.get('jerseySize')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('jerseySize')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flagFootBallv1App.coach.id" for="field_id">Id</label>
                    <select class="form-control" id="field_id" name="id" formControlName="id">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="contactInfoOption.id === editForm.get('id')!.value?.id ? editForm.get('id')!.value : contactInfoOption" *ngFor="let contactInfoOption of ids; trackBy: trackById">{{ contactInfoOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="flagFootBallv1App.coach.id" for="field_id">Id</label>
                    <select class="form-control" id="field_id" name="id" formControlName="id">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="contactInfoOption.id === editForm.get('id')!.value?.id ? editForm.get('id')!.value : contactInfoOption" *ngFor="let contactInfoOption of ids; trackBy: trackById">{{ contactInfoOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
