<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="team">
            <h2><span jhiTranslate="flagFootBallv1App.team.detail.title">Team</span> {{ team.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="flagFootBallv1App.team.name">Name</span></dt>
                <dd>
                    <span>{{ team.name }}</span>
                </dd>
                <dt><span jhiTranslate="flagFootBallv1App.team.player">Player</span></dt>
                <dd>
                    <span *ngFor="let player of team.players; let last = last">
                        <a [routerLink]="['/player', player?.id, 'view']">{{ player.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="flagFootBallv1App.team.coach">Coach</span></dt>
                <dd>
                    <div *ngIf="team.coach">
                        <a [routerLink]="['/coach', team.coach?.id, 'view']">{{ team.coach?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/team', team.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
